<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Yarn!</title>
    {% endblock %}
</head>
<body>
    <div id="header">
    {% block header %}
        {% if 'username' in session %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <a href="{{ url_for('index') }}">Take me home</a><p>
    {% endblock %}
    </div>
    <div id="content">
    {% if 'username' in session %}
        {% block content %}{% endblock %}
    {% else %}
        {% block welcome %}
        <h1>Welcome to Yarn!</h1>
        <p>Please <a href="{{ url_for('login') }}">Login</a>
        {% endblock %}
    {% endif %}
    </div>
    <div id="footer">
        {% block footer %}
            {% if debug %}
            {{ debug }}
            {% endif %}
            Created as a format string exploit example for COMP6841 by Evan Kohilas.<br>
            {{ version }}
        {% endblock %}
    </div>
</body>
</html>
